<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase>
    <appName>M2SA.AppGenome.Queues.Tests</appName>
    <typeAliases>
      <typeAlias name="QueueFactory" c:type="M2SA.AppGenome.Queues.QueueFactory,M2SA.AppGenome.Queues"/>
    </typeAliases>
  </appbase>
  <queues>
    <queue name="testQueueA" path=".\private$\testQueueA" c:type="MSMQ"/>
    <queue name="testClusterB" c:type="QueueCluster">
      <loadStrategy c:type="RandomLoadStrategy" />
      <workQueue path=".\private$\testQueueB" c:type="MSMQ" />
    </queue>
    <queue name="testClusterC" c:type="QueueCluster">
      <loadStrategy c:type="RandomLoadStrategy" />
      <workQueue path=".\private$\testQueueC1"  c:type="MSMQ"/>
      <workQueue path=".\private$\testQueueC2"  c:type="MSMQ"/>
      <workQueue path=".\private$\testQueueC3"  c:type="MSMQ"/>
    </queue>
  </queues>
</configuration>