<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="true">
    <appName>M2SA.AppGenome.ServiceHost</appName>
  </appbase>
  <serviceHost>
    <host runDirectory=".bin" sourceDirectory="services.MemCachedStats" />
    <app exefile="M2SA.AppGenome.Services.MemCachedStats.exe" debug="true" renameForHost="true"></app>
  </serviceHost>
  <exceptionHandling>
    <exceptionPolicy name="default">
      <policyEntry name="Fatal Exceptions" exceptionType="System.Exception" postHandlingAction="None">
        <handler name="Logging Exception Handler" logCategory="HostLogger" logLevel="Error" type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="Fatal Exceptions" exceptionType="System.Exception" postHandlingAction="None">
        <handler name="Logging Exception Handler" logCategory="HostLogger" logLevel="Error" type="LoggingExceptionHandler" />
      </policyEntry>
    </exceptionPolicy>
  </exceptionHandling>
  <logging>
    <loggers>
      <logger name="HostLogger" enabledAsync="false">
        <ListenerIndex name="HostFileListener" enabled="true" />
        <ListenerIndex name="HostConsoleListener" enabled="true" />
      </logger>      
    </loggers>
    <!--侦听器集合-->
    <listeners>
      <listener name="HostFileListener" type="FileListener">
        <FilePattern PathPattern="_Host[@SessionId].log.txt" />
        <Formatter type="TextFormatter"
          content="[@LogLevel]@Message \t @LogTime\r\n" />
      </listener>
      <listener name="HostConsoleListener" type="ConsoleListener">
        <Formatter type="TextFormatter"
          content="[@LogLevel]@Message \t @LogTime\r\n" />
      </listener>
    </listeners>
  </logging>
</configuration>