<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogInfoDB"  connectionString="server=10.155.5.36,3306;user id=root;password=mtest123;database=logs;"  providerName="M2SA.AppGenome.Data.MySQL.MySQLProvider, M2SA.AppGenome.Data" />
  </connectionStrings>
  <appSettings>
    <add key="AppId" value="AppId123456789" />
  </appSettings>
</configuration>