<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase debug="false">
    <appName>M2SA.AppGenome.Logging.Tests</appName>
    <typeAliases>
      <typeAlias name="LogFactory" c:type="M2SA.AppGenome.Logging.LogRespository,M2SA.AppGenome.Logging"/>      
    </typeAliases>
  </appbase>
  <logging>
    <loggers >
      <logger name="default">
        <ListenerIndex name="FileListenerA" enabled="true" />
        <ListenerIndex name="ConsoleListener" enabled="true" />
        <ListenerIndex name="ConsoleListenerA" enabled="true" />
        <ListenerIndex name="QueueListener" enabled="true" enabledAsync="false" />
      </logger>      
      <logger name="FileTestA" ProcessInterval="00:00:03" enabledAsync="false">
        <LevelLimit minLevel ="Debug" maxLevel="Fatal" sysInfoLevel="debug,trace,info,warn,error,fatal" />
        <ListenerIndex name="FileListenerA" enabled="true" />
        <ListenerIndex name="ConsoleListenerA" enabled="true" />
      </logger>
      <logger name="SessionTestA" ProcessInterval="00:00:03" BuilderSize="3" c:type="SessionLogger">
        <LevelLimit minLevel ="Debug" maxLevel="Fatal" sysInfoLevel="debug,trace,info,warn,error,fatal" />
        <ListenerIndex name="MemoryListenerForSession" enabled="true" />
        <ListenerIndex name="SessionFileListenerA" enabled="true" />
        <ListenerIndex name="ConsoleListenerA" enabled="true" />        
      </logger>
      <logger name="MemoryTestA" enabledAsync="false">
        <LevelLimit minLevel ="Debug" maxLevel="Fatal" sysInfoLevel="error,fatal" />
        <ListenerIndex name="MemoryListenerA" enabled="true" />
      </logger>
      <logger name="QueueTest">
        <ListenerIndex name="QueueListener" enabled="true" enabledAsync="false" />
      </logger>
    </loggers>
    <!--侦听器集合-->
    <listeners>
      <listener name="FileListenerA" c:type="FileListener">
        <FilePattern PathPattern=".\logs\log-file-A.txt" />
        <Formatter c:type="logging.TextFormatter"
          header="---AppName:@AppName @SessionId\r\n" footer="\r\n---WriteTime:@WriteTime\r\n"
          content="Level:@LogLevel Message : @Message\r\nLogTime:@LogTime\r\n" />
      </listener>
      <listener name="MemoryListenerForSession" c:type="MemoryListener">
        <source>SessionTestA</source>
        <Formatter c:type="logging.SimpleTextFormatter" />
      </listener>
      <listener name="MemoryListenerA" c:type="MemoryListener">
        <source>MemoryTestA</source>
        <Formatter c:type="logging.SimpleTextFormatter" />
      </listener>   
      <listener name="DBListenerA" c:type="DBListener" />
      <listener name="ConsoleListener" c:type="ConsoleListener">
        <Formatter c:type="logging.TextFormatter" />
      </listener>
      <listener name="ConsoleListenerA" c:type="ConsoleListener">
        <Formatter c:type="logging.TextFormatter"
          header="---AppName:@AppName @SessionId\r\n" footer="\r\n---WriteTime:@WriteTime\r\n"
          content="Level:@LogLevel Message : @Message\r\nLogTime:@LogTime\r\n" />
      </listener>
      <listener name="SessionFileListenerA" c:type="FileListener">
        <FilePattern PathPattern="YYYY\MM\YYYYMMDDHH-@SessionId-A.txt" />
        <Formatter c:type="logging.TextFormatter" />
      </listener>
      <listener name="QueueListener" Queue="TestAppLog" c:type="QueueListener" />
    </listeners>
  </logging>
  <exceptionHandling>
    <exceptionPolicy name="default">
      <policyEntry name="SystemException" exceptionType="Exception" postHandlingAction="NotifyRethrow">
        <handler name="ExceptionLogging" logCategory="default" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="FatalException" exceptionType="FatalException" postHandlingAction="NotifyRethrow">
        <handler name="FatalExceptionLogging" logCategory="FatalExceptionLogger" LogLevel="Fatal" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="TaskThreadException" exceptionType="TaskThreadException" postHandlingAction="NotifyRethrow">
        <handler name="TaskThreadExceptionLogging" logCategory="TaskThreadExceptionLogger" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
    </exceptionPolicy>
  </exceptionHandling>
  <queues>
    <queue name="TestAppLog" path=".\private$\TestAppLog" c:type="MSMQ"/>
  </queues>
</configuration>