<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase>
    <appName>M2SA.AppGenome.Services.MemCachedStats</appName>
  </appbase>
  <applicationHub>
    <extension queueName="TestAppLog" c:type="QueueListener" />
  </applicationHub>
  <queues>
    <queue name="TestAppLog" path=".\private$\TestAppLog" c:type="MSMQ"/>
  </queues>
  <exceptionHandling>
    <exceptionPolicy name="default">
      <policyEntry name="SystemException" exceptionType="Exception" postHandlingAction="NotifyRethrow">
        <handler name="ExceptionLogging" logCategory="default" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="FatalException" exceptionType="FatalException" postHandlingAction="NotifyRethrow">
        <handler name="FatalExceptionLogging" logCategory="FatalExceptionLogger" LogLevel="Fatal" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="TaskThreadException" exceptionType="TaskThreadException" postHandlingAction="NotifyRethrow">
        <handler name="TaskThreadExceptionLogging" logCategory="TaskThreadExceptionLogger" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
    </exceptionPolicy>
  </exceptionHandling>
</configuration>