<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase>
    <appName>M2SA.AppGenome.Services.MemCachedStats</appName>
  </appbase>
  <applicationHub>
    <extension queueName="TestAppLog" c:type="QueueProcessor">
      <ListenerIndex name="FileListener" />
      <ListenerIndex name="DatabaseListener" />
    </extension>
  </applicationHub>
  <queues>
    <queue name="TestAppLog" path=".\private$\TestAppLog" c:type="MSMQ"/>
  </queues>
  <logging>
    <loggers >
      <logger name="default">
        <ListenerIndex name="FileListener" enabled="true" />
      </logger>
    </loggers>
    <listeners>
      <listener name="FileListener" c:type="FileListener">
        <FilePattern PathPattern="logs\YYYYMMDD.app.log" />
      </listener>
      <listener name="DatabaseListener" c:type="DatabaseListener">
        <!--<AppBaseProvider c:type="M2SA.AppGenome.Services.LogProcessor.AppBaseProvider, M2SA.AppGenome.Services.LogProcessor" />-->
      </listener>
      <listener name="ConsoleListener" c:type="ConsoleListener">
        <Formatter c:type="logging.TextFormatter" />
      </listener>
    </listeners>
  </logging>
</configuration>