<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <appbase isDebug="true">
    <appName>M2SA.AppGenome.UnitTest</appName>
    <typeAliases>
      <typeAlias name="TestApplication" c:type="M2SA.AppGenome.Tests.TestObjects.TestApplication, M2SA.AppGenome.Tests"/>
    </typeAliases>
    <threadPool maxThreads="16" />
  </appbase>
  <applicationHub>
    <extension Name="TestApplicationForConfig" c:type="TestApplication" />
  </applicationHub>
  <exceptionHandling>
    <exceptionPolicy name="default">
      <policyEntry name="SystemException" exceptionType="Exception" postHandlingAction="NotifyRethrow">
        <handler name="ExceptionLogging" logCategory="ExceptionLogger" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="FatalException" exceptionType="FatalException" postHandlingAction="NotifyRethrow">
        <handler name="FatalExceptionLogging" logCategory="FatalExceptionLogger" LogLevel="Fatal" c:type="LoggingExceptionHandler" />
      </policyEntry>
      <policyEntry name="TaskThreadException" exceptionType="TaskThreadException" postHandlingAction="NotifyRethrow">
        <handler name="TaskThreadExceptionLogging" logCategory="TaskThreadExceptionLogger" LogLevel="Error" c:type="LoggingExceptionHandler" />
      </policyEntry>
    </exceptionPolicy>
  </exceptionHandling>
</configuration>