<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <domainSetting c:enableSingleton="True">
    <defaultRule encode="utf-8">
      <enterRule key="\n" value=" " />
      <enterRule key="format" value="" />
      <enterRule key="&lt;!--[\s\S]*?-->" value="" />
    </defaultRule>
    <domainRule name="rss.sina.com.cn" encode="gb2312" isSummaryFeed="true" />
    <domainRule name="news.sina.com.cn" encode="gb2312">
      <enterRule key="&lt;(div|td|p|pre|form)(\s[^>^&lt;]*?)?(img_wrapper)+([^>^&lt;]*?)?>([\s\S]*?)&lt;/\1>" value="&lt;p>$5&lt;/p>" />
    </domainRule>
  </domainSetting>
  <domainSetting alias="a">
    <defaultRule encode="utf-8">
      <enterRule key="\n" value=" " />
      <enterRule key="format" value="" />
      <enterRule key="&lt;!--[\s\S]*?-->" value="" />
    </defaultRule>
    <domainRule name="rss.163.com.cn" encode="gb2312" isSummaryFeed="true" />
    <domainRule name="news.163.com.cn" encode="gb2312">
      <enterRule key="&lt;(div|td|p|pre|form)(\s[^>^&lt;]*?)?(img_wrapper)+([^>^&lt;]*?)?>([\s\S]*?)&lt;/\1>" value="&lt;p>$5&lt;/p>" />
    </domainRule>
  </domainSetting>
</configuration>