<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:c="http://m2sa.net/Schema/Config">
  <email>
    <popServer>pop.m2sa.net</popServer>
    <stmpServer>smtp.m2sa.net</stmpServer>
    <smtpServerPort>10025</smtpServerPort>
    <userName>@userName</userName>
    <password>@password</password>
    <enableSSL>true</enableSSL>
  </email>
</configuration>